{% extends "base.html.twig" %}
{% block body %}
    <h1>{{ group.name }}</h1>
    {% for contact in group.contacts %}
        <p>
            <a href="{{ path("addressbook_contact_show", {"id":contact.id}) }}">{{ contact.name }} {{ contact.surname }}</a>
        </p>
    {% endfor %}
{% endblock %}