{% extends "base.html.twig" %}
{% block title %}Groups{% endblock %}
{% block body %}
    <h4><a href="{{ path('addressbook_group_new') }}">Create new Group</a></h4>
    <hr>
    {% for group in groups %}
        <div>
        <form class="delete" action="{{ path('addressbook_group_delete', {'id':group.id}) }}"
              method="POST">
            <button class="delete">Delete</button>
        </form>
            <a class="show-all" href="{{ path('addressbook_group_showsingle', {'id':group.id}) }}">{{ group.name }}</a>
        </div>
        <hr>
    {% else %}
        <h3>There are no groups</h3>
    {% endfor %}
{% endblock %}