{% extends "base.html.twig" %}
{% block body %}
    <h1>{{ group.name }}</h1>
    {% for contact in group.contacts %}
    <p>{{ contact.name }} {{ contact.surname }}</p>
    {% endfor %}
{% endblock %}